{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="span8">
    <h1>EventeX</h1>
    <p class="lead">O MAIOR EVENTO DE DESENVOLVEDORES DO WELCOME TO THE DJANGO!</p>
  </div>
</div>
<br />
<div class="span12" style="text-align: center">
  <a class="btn btn-primary btn-large" href="{% url 'subscriptions:subscribe' %}">Inscreva-se Já</a>
</div>
<br />
<div id="sobre">
  <div class="page-header">
    <h3>SOBRE</h3>
  </div>
  <div class="row">
    <div class="span12">
      <p>
        A comunidade de desenvolvimento Welcome to the Django está organizando novamente o EventeX, um evento para desenvolvedores de software.
      </p>
      <p>
        Na sua dercima primeira edição, o Eventex 2013 irá reunir aproximadamente <span class="badge badge-info">40 desenvolvedores</span>.
        <br>
        Contaremos com profissionais reconhecidos pelo mercado nacional que irão compartilhar seus conhecimentos nos <span class="badge badge-info">4 encontros</span> que compõem a grade do evento.
        <br>
        Durante o evento, serão abordados diversos assuntos focados em desenvolvimento web com python e django que de alguma forma afetam a vida de um desenvolvedor.
        <br>
        É um evento que nenhum profissional da área pode perder.
      </p>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="span6">
      <blockquote>
        <p>O Eventex foi uma experiencia fenomenal em minha vida como desenvolvedor.</p>
        <small>FooBar Software Engineer at <cite title="Source Title">Google</cite></small>
      </blockquote>
    </div>
    <div class="span6">
      <blockquote class="pull-right">
        <p>O Eventex trouxe para mim uma ótima visão sobre análise e 
          desenvolvimento de software
        </p>
        <small>BarFoo Software Engineer at <cite title="Source Title">Microsoft</cite></small>
      </blockquote>
    </div>
  </div>
</div>
<div id="local">
  <div class="page-header" >
    <h3>LOCALIZAÇÃO <small class="visible-desktop">UNI-WTTD (Campus Online)</small></h3>
  </div>
  <div class="row">
    <div class="span4">
      <div class="well" style="border: #bbb 5px solid">
        <h3>Endereço</h3>
        <address>
          <strong>WTTD, Inc.</strong><br>
          Avenida FooBar 795<br>
          Rio de Janeiro, BR<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <address>
          <strong>Suporte ao EventeX</strong><br>
          <a href="mailto:#">suporte@eventex.com.br</a>
        </address>
      </div>
    </div>
    <div id="mapa" class="span8">
    </div>
  </div>
</div>
{% endblock content %}